* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}

html,
body,
section {
  height: 100%;
  overflow: hidden;
  background-color: #2e3532;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  -webkit-margin-after: 16px;
          margin-block-end: 16px;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  color: #ffa630;
  font-size: 20px;
  letter-spacing: 4px;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #ffa630;
  font-weight: bold;
}
.btn:hover {
  background-color: #ffa630;
  color: #2e3532;
}

nav {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100px;
  background-color: #202a25;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav .nav_wrap {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav .nav_wrap .logo {
  display: flex;
  flex-direction: column;
}
nav .nav_wrap .logo a {
  text-decoration: none;
  color: #e0e2db;
}
nav .nav_wrap .links {
  height: 255px;
  display: flex;
  flex-direction: column;
}
nav .nav_wrap .links a {
  text-decoration: none;
  height: 51px;
  color: #e0e2db;
}
nav .nav_wrap .links a:hover {
  color: #ffa630;
}
nav .nav_wrap .media_wrap {
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
nav .nav_wrap .media_wrap a {
  text-decoration: none;
  color: #e0e2db;
  height: 14px;
}
nav .nav_wrap .media_wrap a:hover {
  color: #ffa630;
}

.home {
  display: flex;
  flex-direction: column;
}
.home .tags {
  color: #7fb069;
  font-family: "League Script", cursive;
  font-size: 18px;
  vertical-align: middle;
}
.home .html_open {
  position: absolute;
  top: 2.5%;
  left: 7.5%;
}
.home .body_open {
  position: absolute;
  top: 5%;
  left: 10%;
}
.home .intro_wrap {
  position: absolute;
  top: 25%;
  left: 12.5%;
  justify-content: center;
}
.home .intro_wrap .intro_h {
  color: white;
  font-family: "Lora", serif;
  font-size: 54px;
}
.home .intro_wrap .intro_p {
  color: #aba9af;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  -webkit-font-kerning: 10px;
          font-kerning: 10px;
}
.home .intro_wrap .intro_p .p_open,
.home .intro_wrap .intro_p .p_close {
  text-transform: none;
}
.home .a_wrap {
  position: absolute;
  top: 65%;
  left: 12.5%;
  justify-content: center;
}
.home .a_wrap a {
  text-transform: uppercase;
}
.home .body_close {
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.home .html_close {
  position: absolute;
  bottom: 2.5%;
  left: 7.5%;
}