.about {
  display: flex;
  flex-direction: row;

  .about_wrap {
    z-index: 90;

    .tags {
      color: $green;
      font-family: $script;
      font-size: 18px;
      vertical-align: middle;
    }
    .html_open {
      position: absolute;
      top: 25px;
      left: 105px;
    }
    .body_open {
      position: absolute;
      top: 50px;
      left: 110px;
    }

    .intro_wrap {
      position: absolute;
      height: 100%;
      top: 20%;
      left: 170.25px;
      justify-content: center;
      margin-bottom: 125px;

      .intro_h {
        width: 513px;
        color: $white;
        font-family: $serif;
        font-size: 54px;
      }
      .intro_p {
        color: $gray;
        width: 513px;
        // text-transform: capitalize;
        font-family: $sans;
        font-size: 20px;
        font-kerning: 10px;
        .p_open,
        .p_close {
          text-transform: none;
        }
      }
      .a_wrap {
        margin-top: 50px;
        i {
          font-size: 65px;
          color: $orange;
          padding: 0 50px;
        }
      }
    }

    .body_close {
      position: absolute;
      bottom: 50px;
      left: 110px;
    }
    .html_close {
      position: absolute;
      bottom: 25px;
      left: 105px;
    }
  }
  .img_about {
    position: absolute;

    margin-top: 134px;
    left: 725px;

    img {
      height: 500px;
      width: 500px;
      border-radius: 150px;
    }
  }
}
