.home {
  display: flex;
  flex-direction: row;

  .home_wrap {
    z-index: 90;

    .tags {
      color: $green;
      font-family: $script;
      font-size: 18px;
      vertical-align: middle;
    }
    .html_open {
      position: absolute;
      top: 25px;
      left: 105px;
    }
    .body_open {
      position: absolute;
      top: 50px;
      left: 110px;
    }

    .intro_wrap {
      position: absolute;
      width: 512px;
      height: 100%;
      top: 25%;
      left: 170.25px;
      justify-content: center;
      margin-bottom: 125px;

      .intro_h {
        color: $white;
        font-family: $serif;
        font-size: 54px;
      }
      .intro_p {
        color: $gray;
        text-transform: capitalize;
        font-family: $sans;
        font-size: 20px;
        font-kerning: 10px;
        .p_open,
        .p_close {
          text-transform: none;
        }
      }
      .a_wrap {
        margin-top: 50px;
        justify-content: center;
        a {
          text-transform: uppercase;
        }
      }
    }

    .body_close {
      position: absolute;
      bottom: 50px;
      left: 110px;
    }
    .html_close {
      position: absolute;
      bottom: 25px;
      left: 105px;
    }
  }
  .img_home {
    position: absolute;
    top: 63.5px;

    left: 725px;
    margin-right: 25px;
    img {
      height: 641;
      width: 641px;
      -webkit-animation: spin 152s linear infinite;
      -moz-animation: spin 152s linear infinite;
      animation: spin 152s linear infinite;
      @-moz-keyframes spin {
        100% {
          -moz-transform: rotate(360deg);
        }
      }
      @-webkit-keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    }
  }
}
