nav {
  position: fixed;
  z-index: 99;
  width: 10%;
  height: 92px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  .link_wrap {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
}
