nav {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100px;
  background-color: $nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .nav_wrap {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: $white;
      }
    }

    .links {
      height: 255px;
      display: flex;
      flex-direction: column;
      // justify-content: left;

      a {
        text-decoration: none;
        height: 51px;
        color: $white;
        &:hover {
          color: $orange;
        }
      }
    }
    .media_wrap {
      height: 56px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      // justify-content: left;
      a {
        text-decoration: none;
        color: $white;
        height: 14px;
        &:hover {
          color: $orange;
        }
      }
    }
  }
}
