* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}

html,
body,
section {
  height: 100%;
  overflow: hidden;
  background-color: $mDark;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-end: 16px;
}
