* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}

html,
body,
section {
  height: 100%;
  overflow: hidden;
  background-color: $body;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-end: 16px;
}

.btn {
  width: fit-content;
  white-space: nowrap;
  color: $orange;
  font-size: 20px;
  letter-spacing: 4px;
  font-family: $sans;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid $orange;
  font-weight: bold;
  &:hover {
    background-color: $orange;
    color: $body;
  }
}
