//site width

//site colors
$scriptGrey: #515152;
$linkGrey: #4d4d4e;
$boxGrey: #2b2b2b;
$mDark: #1d1d1d;
$vDark: #181818;

//site fonts
$sans: "Lato", sans-serif;
$script: "League Script", cursive;
$serif: "Lora", serif;

//mix ins
// <i class="fab fa-linkedin-in"></i>
// <i class="fab fa-twitter"></i>s
